---
layout: archive
title: "Teaching & Workshops"
permalink: /teaching/
author_profile: true
---

{% include base_path %}

## Workshops

<ul>
  {% for post in site.teaching reversed %}
    <li>
      {% if post.link %}
        <a href="{{ post.link }}" target="_blank">{{ post.title }}</a>
      {% else %}
        <a href="{{ post.url }}">{{ post.title }}</a>
      {% endif %}
      {% if post.date_display %}
        <small>({{ post.date_display }})</small>
      {% else %}
        <small>({{ post.date | date: "%B %d, %Y" }})</small>
      {% endif %}
      {% if post.location %}
        <p><strong>Location:</strong> {{ post.location }}</p>
      {% endif %}
      {% if post.excerpt %}
        <p>{{ post.excerpt }}</p>
      {% endif %}
    </li>
  {% endfor %}
</ul>
